<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Me" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    
    <div class="row">
    {% for person in site.data.sitetext[site.locale].about.people %}
    <div class="col-xs-6 col-sm-4">
	<div class="row" style="margin-left: 0px; margin-right: 0px">
      <div class="about-member">
	<div class="img-toggle">
		<img class="original mx-auto img-fluid" src="{{ person.image }}" alt="">
		<img class="toggled mx-auto img-fluid" src="{{ person.image-toggled }}" alt="">
	</div>
<!--       <img class="mx-auto img-fluid" src="{{ person.image }}" alt=""> -->
	      
      <p class="text-muted">{{ person.role }}</p>
      </div>
	    </div>
    </div>
    <div class="col-xs-4 col-sm-8">
      <div class="about-member">
	<h4>{{ person.name }}</h4>
	      <h5>
		      <p class="text-muted">{{ person.info }}</p>
		      <h6>
		      <p class="text-dark">{{ person.email }}</p>
			      <h7> <p class="text-muted"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p> </h7>
		      <p class="text-dark">{{ person.office }}</p>
			      <h7> <p class="text-muted">{{ person.offices }}</p> </h7>
		      <p class="text-dark">{{ person.research }}</p>
			      <h7> <p class="text-muted">{{ person.researches | markdownify}}</p> </h7>
		      </h6>
	      </h5>
      </div>
    </div>
    </div>
    {% endfor %}
	  
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
    </div>

  </div>

  <!-- <div class="page-section" id="{{ site.data.sitetext[site.locale].bio.section | default: "bio" }}"> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
    <h2> </h2>
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].bio.title | markdownify | default: "bio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].bio.text | markdownify }}</h3>

    {% for bio in site.data.sitetext[site.locale].bio.list %}
        <div class="col-lg-12">
          <h4 style="text-align:left" class="bio-heading">{{ bio.title | markdownify }}</h4>
      <h6 class="bio-subheading">{{ bio.subtitle | markdownify }}</h6>
          {% if bio.desc %}<div align="justify" class="text-muted">{{ bio.desc | markdownify }}</div>{% endif %}
        </div>
    {% endfor %}
      </div>
    </div>
  </div>
<!-- </div> -->

</section>
<!-- End About -->

