<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].latest_posts.section | default: "latest_posts" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].latest_posts.title | markdownify | default: "LATEST POST" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].latest_posts.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
  
	{% for project in site.posts limit: 3 %}
      <div class="col-md-4 col-sm-6 latest_posts-item">
        <a class="latest_posts-link" href="{{ site.baseurl }}{{ site.posts[forloop.index0].url }}">
          <div class="latest_posts-hover">
            <div class="latest_posts-hover-content">
              <i class="{{ site.data.style.latest_posts-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="latest_posts-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
