<!-- Fun Modals -->
{% for project in site.fun %}
<div
  class="fun-modal modal fade"
  id="fun{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image1 }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.discription1 }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image2 }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.discription2 }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image3 }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.discription3 }}</p>
              <p>{{ project.content }}</p>
              
              
              <div id="disqus_thread{{ forloop.index }}"></div>
              <script>
                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                  
                  var disqus_config = function () {
                  this.page.url = 'https://choices97.github.io{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = 'fun{{ forloop.index }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://choices97.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              
              
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].fun.closebutton |
                default: "Close News" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Fun Modals -->
