<!-- <div class="card">
    <div class="card-image">
        <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" width="100%">
    </div>
    <div class="card-content">
        <div class="content">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <p class="title is-4">{{ post.title}}</p>
            </a>
            <p class="subtitle is-6">Published {{ post.date | date: "%b %-d, %Y" }} by {{ post.author }}</p>
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-dark is-fullwidth">Read more</a>
        </div>
    </div>
</div> -->


<!-- Post Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].posts.section | default: "posts" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].posts.title | markdownify | default: "posts" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].posts.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.posts %}
      <div class="col-md-4 col-sm-6 posts-item">
	<div class="buttons">
        <a class="posts-link" href="{{ site.baseurl }}{{ site.posts[forloop.index - 1].url">
	</div>
          <div class="posts-hover">
            <div class="posts-hover-content">
              <i class="{{ site.data.style.posts-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="posts-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
<!-- <a href="{{ site.baseurl }}{{ post.url }}">
    <p class="title is-4">{{ post.title}}</p>
</a> -->
<!-- {% include modals_fun.html %} -->



