---
layout: default
comments: true
---
{% include navheader.html %}

{% include about.html %}
{% include timeline.html %}
{% include services.html %}
{% include portfolio_grid.html %}
{% include fun_grid.html %}
<!-- <div class="columns is-multiline">
    {% assign post_width = "4|4|4" | split: "|" %}
    {% for post in paginator.posts limit:3 %}
    <div class="column is-{{ post_width[forloop.index0] }}">
        {% include post-item.html %}
    </div>
    {% endfor %}
</div> -->
{% include post-item.html %}
{% include pagination.html %}
<!-- {% raw %}{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
{% endif %}{% endraw %} -->

{% include team.html %}
{% include clients.html %}
{% include contact.html %}
