---
layout: default
comments: true
---
{% include navheader.html %}

{% include about.html %}
{% include timeline.html %}
{% include services.html %}
{% include portfolio_grid.html %}
{% include fun_grid.html %}
<div class="columns is-multiline">
    {% assign post_width = "6|6|12|4|4|4" | split: "|" %}
    {% for post in paginator.posts limit:6 %}
    <div class="column is-{{ post_width[forloop.index0] }}">
        {% include post-item.html %}
    </div>
    {% endfor %}


</div>
{% include team.html %}
{% include clients.html %}
{% include contact.html %}
