---
layout: default
comments: true
---

{% include head.html %}
{% include navpost.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<!--  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">{{ page.title | markdownify }}</div>
	  {%- if site.data.sitetext[site.locale].header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext[site.locale].header.text | markdownify }}</div>
	  {%- endif -%}
      </div>
    </div>
  </header> -->


<div class="container" id="pagecontainer">
  <div class="row">
    <div class="col-lg-2"> </div>
      <div class="col-lg-8 text-center">
<!-- 	<h2 class="text-uppercase">{{ page.title }}</h2> -->
<!--         <p class="item-intro text-muted">{{ page.subtitle }}</p> -->

	<h2> </h2>
	      
	<div align="justify">
	  <a class="latest_posts-link" href="{{ site.baseurl }}/posts">
		<i class="fas fa-chevron-left"></i>
		{{ site.data.sitetext[site.locale].posts.closebutton | default: "Previous page" }}
	  </a>
	  <p align="justify">{{ content }}</p>
	</div>
	      

      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-lg-2"> </div>
      <div class="col-lg-8 text-center">
        	
              <div id="disqus_thread"></div>
              <script>
                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                  
                  var disqus_config = function () {
                  this.page.url = "https://choices97.github.io/{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://choices97.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<h2> </h2>
	<div class="text-center">
		<a class="latest_posts-link" href="{{ site.baseurl }}/posts" style="color:#fff;">
		<button class="btn btn-primary" data-dismiss="modal" type="button" >
			
				{{ site.data.sitetext[site.locale].posts.postbutton | default: "All Posts" }}
				<i class="fas fa-times"></i>
			
		</button>
		</a>
	</div>

	<h2> </h2>
	      
      </div>
    </div>
	  
